# Port to listen on
PORT=

# The environment the server is deployed in ('production', 'staging', 'development').
DEPLOYMENT_ENV=

# Cors allowlist for development environment
DEV_CORS_ALLOWLIST_REG_EXP=

# Cors allowlist
CORS_ALLOWLIST_REG_EXP=

# 32 character secret for encrypting iron session
IRON_SESSION_SECRET=

# bcrypt hash of the salted password for the admin account
ADMIN_API_PASSWORD=

# Salt used for hashing the admin password
ADMIN_API_SALT=

# Db user that the api service will connect to the database with.
DB_USER=

# Password for the DB_USER.
DB_PASSWORD=

# Database user that performs the migrations for the database.
MIGRATE_DB_USER=

# Password for MIGRATE_DB_USER.
MIGRATE_DB_PASSWORD=

# Host of the application database.
DB_HOST=

# Port of the application database.
DB_PORT=

# Name of the application database.
DB_NAME=

# Initial delay for retrying the database migrations.
MIGRATE_INITIAL_RETRY_DELAY=

# Maximum amount of time to wait between migration retries.
MIGRATE_MAX_RETRY_DELAY=

# Maximum number of retries for migrations
MIGRATE_MAX_RETRIES=

# App id for Privy
PRIVY_APP_ID=

# Secret for privy app
PRIVY_APP_SECRET=

# bcrypt salt for hashing privy access token
PRIVY_ACCESS_TOKEN_SALT=

# Max number of applications an entity can have
MAX_APPS_COUNT=

# JSON RPC Url for OP Mainnet Node
OP_MAINNET_JSON_RPC_URL=

# Private key for the wallet distributing the deployment rebates
DEPLOYMENT_REBATE_WALLET_PK=

# Private key for wallet distributing testnet deployment rebates
OP_SEPOLIA_DEPLOYMENT_REBATE_WALLET_PK=

# Max rebate amount in units of ether
MAX_REBATE_AMOUNT=

# Whether to include testnet networks
INCLUDE_TESTNETS=

# L1 mainnet json rpc url
MAINNET_JSON_RPC_URL=

# Base json rpc url
BASE_JSON_RPC_URL=

# Frax mainnet json rpc url
FRAX_JSON_RPC_URL=

# Mode mainnet json rpc url
MODE_JSON_RPC_URL=

# Zora mainnet json rpc url
ZORA_JSON_RPC_URL=

# L1 sepolia json rpc url
SEPOLIA_JSON_RPC_URL=

# Base sepolia json rpc url
BASE_SEPOLIA_JSON_RPC_URL=

# Frax sepolia json rpc url
FRAX_SEPOLIA_JSON_RPC_URL=

# Lisk sepolia json rpc url
LISK_SEPOLIA_JSON_RPC_URL=

# Mode sepolia json rpc url
MODE_SEPOLIA_JSON_RPC_URL=

# Op sepolia json rpc url
OP_SEPOLIA_JSON_RPC_URL=

# Zora sepolia json rpc url
ZORA_SEPOLIA_JSON_RPC_URL=
