@import '@eth-optimism/ui-components/src/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

a[href="https://optimism.io/community-agreement"]
{
  font-size: 0;
}

a[href="https://optimism.io/community-agreement"]:after
{
  font-size: 13px;
  content: 'Community Agreement';
}
