name: build

on:
  push:
    branches:
      - "main"

jobs:
  build:
    uses: ethereum-optimism/factory/.github/workflows/docker.yaml@f8f3cb4800e538003134fb5f50cc734c2c98d762
    strategy:
      fail-fast: false
      matrix:
        image_name:
          - autorelayer-interop
          - ponder-interop
          - sponsored-sender
    with:
      image_name: ecosystem-${{ matrix.image_name }}
      context: .
      dockerfile: Dockerfile
      gcp_project_id: ${{ vars.GCP_PROJECT_ID_OPLABS_TOOLS_ARTIFACTS }}
      registry: us-docker.pkg.dev/oplabs-tools-artifacts/images
      tag: latest
      target: ${{ matrix.image_name }}
      build_args: |
        DOCKER_TARGET=${{ matrix.image_name }}
    permissions:
      contents: read
      id-token: write
      attestations: write
