name: Unit Tests

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  merge_group:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup
        uses: ./.github/actions/setup
      - name: Run TypeChecker
        run: |
          pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=typecheck

  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Setup
        uses: ./.github/actions/setup
      - name: Run Linters
        run: |
          pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=lint

  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Set up foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Setup
        uses: ./.github/actions/setup
      - name: Run Tests
        run: |
          pnpm nx affected --base=$NX_BASE --head=$NX_HEAD --target=test